<div class="create-chat-modal">
    <div class="create-chat-modal__wrapper">
        <div class="create-chat-modal__header">
            <h2 class="create-chat-modal__title">Введите название чата</h2>
            {{{closeButton}}}
        </div>

        {{{chatNameInput}}}
        {{{createButton}}}
    </div>
</div>
