<div class="create-chat-modal">
    <div class="create-chat-modal__wrapper">
        <div class="create-chat-modal__header">
            <h2 class="create-chat-modal__title">Введите название чата</h2>
            <img id="close" class="create-chat-modal__close" src="{{ closeIcon }}" alt="close" />
        </div>

        {{{chatNameInput}}}
        {{{createButton}}}
    </div>
</div>
