@import "../../styles/variables.pcss";

.dropdown-menu-item {
	display: flex;
	align-items: center;
	gap: 10px;
	background: transparent;
	border: none;
	font-size: 12px;
	padding: 10px 15px;
	cursor: pointer;

	&:hover {
		background: $backgroundGreyDark;
	}

	&__icon {
		width: 20px;
		height: 20px;
		cursor: pointer;
		border-radius: 50%;

		&:hover {
			background: $backgroundGreyDark;
		}
	}
}
