---
placeholders: {
    password: '6-12 символов'
}
---

<html>
    <head>
        <link rel="stylesheet" href="../../../index.pcss">
    </head>
    <body>
        <div class="changePassword">
            <div class="changePassword__sidebar">
                <a href="../chats/chats.hbs">
                    <button class="changePassword__sidebar_back-button">
                        <img class="changePassword__sidebar_back-icon" src="../../../static/icons/send-arrow.svg" alt="back to chats" />
                    </button>
                </a>
            </div>
            <div class="changePassword__info">
                <img class="changePassword__image" src="../../../static/icons/samoyed.png" alt="profile photo" />
                <div class="changePassword__inputs">
                    {{> input/input direction="horizontal" label="Старый пароль" type="password" placeholder=placeholders.password }}
                    {{> input/input direction="horizontal" label="Новый пароль" type="password" placeholder=placeholders.password }}
                    {{> input/input direction="horizontal" label="Повторите новый пароль" type="password" placeholder=placeholders.password }}
                </div>
                <a href="../profile/profile.hbs">{{> button/button label="Сохранить" color="blue" }}</a>
            </div>
        </div>
    </body>
</html>
