---
placeholders: {
    password: '6-12 символов'
}
---

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <link rel="stylesheet" href="../../../index.pcss">
    </head>
    <body>
        <main>
            <div class="changePassword">
                <div class="changePassword__sidebar">
                    <a href="../chats/chats.hbs">
                        <button class="changePassword__sidebar_back-button">
                            <img class="changePassword__sidebar_back-icon" src="../../../static/icons/send-arrow.svg" alt="back to chats" />
                        </button>
                    </a>
                </div>
                <form class="changePassword__info">
                    <img class="changePassword__image" src="../../../static/icons/samoyed.png" alt="profile photo" />
                    <div class="changePassword__inputs">
                        {{> input/input direction="horizontal" name="oldPassword" label="Старый пароль" type="password" placeholder=placeholders.password }}
                        {{> input/input direction="horizontal" name="newPassword" label="Новый пароль" type="password" placeholder=placeholders.password }}
                        {{> input/input direction="horizontal" name="newPassword" label="Повторите новый пароль" type="password" placeholder=placeholders.password }}
                    </div>
                    <a href="../profile/profile.hbs">{{> button/button label="Сохранить" color="blue" type="button" }}</a>
                </form>
            </div>
        </main>
    </body>
</html>
