@import "./src/components/button/button.pcss";
@import "./src/components/input/input.pcss";
@import "./src/components/avatar/avatar.pcss";
@import "./src/components/buttonWithIcon/buttonWithIcon.pcss";
@import "./src/components/dropdownMenuItem/dropdownMenuItem.pcss";
@import "./src/components/dropdownMenu/dropdownMenu.pcss";
@import "./src/components/asideNavigation/asideNavigation.pcss";
@import "./src/components/imagePreview/imagePreview.pcss";
@import "./src/components/filePreview/filePreview.pcss";

@import "./src/pages/signUp/signUp.pcss";
@import "./src/pages/signIn/signIn.pcss";
@import "./src/pages/chats/chats.pcss";
@import "./src/pages/profile/profile.pcss";
@import "./src/pages/changeInfo/changeInfo.pcss";
@import "./src/pages/changePassword/changePassword.pcss";
@import "./src/pages/errorPage/errorPage.pcss";

@import "./src/pages/chats/components/chatListItem/chatListItem.pcss";
@import "./src/pages/chats/components/chatView/chatView.pcss";
@import "./src/pages/chats/components/chatMessage/chatMessage.pcss";
@import "./src/pages/chats/components/createChatModal/createChatModal.pcss";

@import "./src/pages/chats/components/chatView/components/addUserModal/addUserModal.pcss";
@import "./src/pages/chats/components/chatView/components/deleteChatModal/deleteChatModal.pcss";
@import "./src/pages/chats/components/chatView/components/deleteUserModal/deleteUserModal.pcss";

html,
body,
main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    line-height: 13px;
    width: 100%;
    height: 100%;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

h2 {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
