@import url("./src/components/button/button.pcss");
@import url("./src/components/input/input.pcss");
@import url("./src/components/avatar/avatar.pcss");
@import url("./src/components/buttonWithIcon/buttonWithIcon.pcss");
@import url("./src/components/dropdownMenuItem/dropdownMenuItem.pcss");
@import url("./src/components/dropdownMenu/dropdownMenu.pcss");
@import url("./src/components/asideNavigation/asideNavigation.pcss");
@import url("./src/components/imagePreview/imagePreview.pcss");
@import url("./src/components/filePreview/filePreview.pcss");
@import url("./src/pages/signUp/signUp.pcss");
@import url("./src/pages/signIn/signIn.pcss");
@import url("./src/pages/chats/chats.pcss");
@import url("./src/pages/profile/profile.pcss");
@import url("./src/pages/changeInfo/changeInfo.pcss");
@import url("./src/pages/changePassword/changePassword.pcss");
@import url("./src/pages/errorPage/errorPage.pcss");
@import url("./src/pages/chats/components/chatListItem/chatListItem.pcss");
@import url("./src/pages/chats/components/chatView/chatView.pcss");
@import url("./src/pages/chats/components/chatMessage/chatMessage.pcss");
@import url("./src/pages/chats/components/createChatModal/createChatModal.pcss");
@import url("./src/pages/chats/components/chatView/components/addUserModal/addUserModal.pcss");
@import url("./src/pages/chats/components/chatView/components/deleteChatModal/deleteChatModal.pcss");
@import url("./src/pages/chats/components/chatView/components/deleteUserModal/deleteUserModal.pcss");

html,
body,
main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-size: 13px;
    line-height: 13px;
    width: 100%;
    height: 100%;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

h2 {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
