.button {
	width: 280px;
	border-radius: 8px;
	border: none;
	padding: 12px 70px;
	cursor: pointer;

	&:disabled {
		opacity: 50%;
	}

	&-blue {
		background: #3369f3;
		color: white;

		&:hover {
			background: #2753c4;
		}
	}

	&-red {
		background: #ff2f2f;
		color: white;

		&:hover {
			background: #d71111;
		}
	}
}
