<div class="delete-user-modal">
    <div class="delete-user-modal__wrapper">
        <div class="delete-user-modal__header">
            <h2 class="delete-user-modal__title">Удалить пользователя из чата?</h2>
            {{{closeButton}}}
        </div>

        {{{userNameInput}}}

        {{{confirmButton}}}
    </div>
</div>
