---
placeholders: {
    email: 'ivanivanov@yandex.ru',
    login: 'ivanivanov',
    name: 'Иван',
    lastName: 'Иванов',
    displayName: 'Иван',
    phone: '+79995555555',
}
---

<html>
    <head>
        <link rel="stylesheet" href="../../../index.pcss">
    </head>
    <body>
        <div class="profile">
            <div class="profile__sidebar">
                <a href="../chats/chats.hbs">
                    <button class="profile__sidebar_back-button">
                        <img class="profile__sidebar_back-icon" src="../../../static/icons/send-arrow.svg" alt="back to chats" />
                    </button>
                </a>
            </div>
            <div class="profile__info">
                <div class="profile__image-wrap">
                    <img class="profile__image" src="../../../static/icons/samoyed.png" alt="profile photo" />
                    <p class="profile__image-text">Загрузить фото</p>
                </div>
                <h2 class="profile__name">{{placeholders.name}}</h2>
                <div class="profile__inputs">
                    {{> input/input direction="horizontal" label="Email" type="email" value=placeholders.email disabled="true" }}
                    {{> input/input direction="horizontal" label="Логин" type="text" value=placeholders.login disabled="true" }}
                    {{> input/input direction="horizontal" label="Имя" type="text" value=placeholders.name disabled="true" }}
                    {{> input/input direction="horizontal" label="Фамилия" type="text" value=placeholders.lastName disabled="true" }}
                    {{> input/input direction="horizontal" label="Имя в чате" type="text" value=placeholders.displayName disabled="true" }}
                    {{> input/input direction="horizontal" label="Телефон" type="tel" value=placeholders.phone disabled="true" }}
                </div>
                <div class="profile__links">
                    {{> buttonLink/buttonLink href="../errorPage/errorPage.hbs" label="Изменить данные" color="blue" }}
                    {{> buttonLink/buttonLink href="../changePassword/changePassword.hbs" label="Изменить пароль" color="blue" }}
                    {{> buttonLink/buttonLink href="../signUp/signUp.hbs" label="Выйти" color="red" }}
                </div>
            </div>
        </div>
    </body>
</html>
