<div class="add-user-modal">
    <div class="add-user-modal__wrapper">
        <div class="add-user-modal__header">
            <h2 class="add-user-modal__title">Введите имя пользователя</h2>
            <img id="close" class="add-user-modal__close" src="{{ closeIcon }}" alt="close" />
        </div>

        {{{userNameInput}}}

        {{{addButton}}}
    </div>
</div>
