<div class="add-user-modal">
    <div class="add-user-modal__wrapper">
        <div class="add-user-modal__header">
            <h2 class="add-user-modal__title">Введите имя пользователя</h2>
            {{{closeButton}}}
        </div>
        <div>   
            {{{userLoginInput}}}
            {{{userList}}}
        </div>

        {{{addButton}}}
    </div>
</div>
