$blue: #3369f3;
$blueHover: #2753c4;
$red: #ff2f2f;
$redHover: #d71111;
$grey: #999;
$white: #fff;

$borderGrey: #eaeaea;
$backgroundBlue: #e4edfd;
$backgroundGrey: #f8f8f8;
$backgroundGreyLight: #fbfbfb;
$backgroundGreyDark: #efefef;

$boxShadowLight: rgb(0 0 0 / 14%);
$boxShadowDark: rgb(0 0 0 / 50%);
