<div class="chat-item">
    <div class="chat-item__content">
        <img class="chat-item__image" src="../../../static/icons/samoyed.png" alt="chat photo" />
        <div class="chat-item__info">
            <span class="chat-item__name">{{ name }}</span>
            <span class="chat-item__text">{{ text }}</span>
        </div>
    </div>
    <div class="chat-item__data">
        <span class="chat-item__time">{{ lastMessageTime }}</span>
        <div class="chat-item__count">{{ newMessagesCount }}</div>
    </div>
</div>
