@import url("../../../../../../styles/variables.pcss");

.chat-input {
    width: 100%;
    padding: 10px;
    background: $backgroundGreyDark;
    border-radius: 30px;
    outline: none;
    border: none;
}
