---
placeholders: {
    email: 'ivanivanov@yandex.ru',
    login: 'ivanivanov',
    name: 'Иван',
    lastName: 'Иванов',
    phone: '+79995555555',
    password: '6-12 символов'
}
---

<html>
    <head>
        <link rel="stylesheet" href="../../../index.pcss">
    </head>
    <body>
        <div class="sign-in">
            <h1>Регистрация</h1>
            <div class="sign-in__inputs">
                {{> input/input direction="vertical" label="Email" type="email" placeholder=placeholders.email }}
                {{> input/input direction="vertical" label="Логин" type="text" placeholder=placeholders.login }}
                {{> input/input direction="vertical" label="Имя" type="text" placeholder=placeholders.name }}
                {{> input/input direction="vertical" label="Фамилия" type="text" placeholder=placeholders.lastName }}
                {{> input/input direction="vertical" label="Телефон" type="tel" placeholder=placeholders.phone }}
                {{> input/input direction="vertical" label="Пароль" type="password" placeholder=placeholders.password }}
                {{> input/input direction="vertical" label="Пароль (еще раз)" type="password" placeholder=placeholders.password }}
            </div>
            <div class="sign-in__buttons">
                <a href="../chats/chats.hbs">{{> button/button label="Зарегистрироваться" color="blue" }}</a>
                {{> buttonLink/buttonLink href="../signUp/signUp.hbs" label="Войти" color="blue" }}
            </div>
        </div>
    </body>
</html>
