<form class="sign-in">
    <h1>Вход</h1>
    <div class="sign-in__inputs">
        {{{loginInput}}}
        {{{passwordInput}}}
    </div>
    <div class="sign-in__buttons">
        {{{enterButton}}}
        {{{registerButton}}}
    </div>
</form>
