@import url("../../styles/variables.pcss");

.sign-in {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 340px;
	padding: 50px 30px 30px;
	box-shadow: 0 0 6px $boxShadowLight;
	border-radius: 12px;

	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin: 40px 0 60px;
		width: 100%;
	}

	&__buttons {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
	}
}
