@import url("../../styles/variables.pcss");

.dropdown-menu {
	position: absolute;
	display: none;
	padding: 15px 0;
	box-shadow: 0 0 6px $boxShadowLight;
	border-radius: 12px;
	background: $white;
	z-index: 100;

	&__top {
		top: 50px;
		right: 30px;
	}

	&__bottom {
		bottom: 40px;
		left: 15px;
	}
}
