<img class="chat-message-input__upload-icon" src="../../../static/icons/clip.svg" alt="upload" />
<input class="chat-message-input__field" placeholder="Сообщение" />
<button class="chat-message-input__send-button"><img class="chat-message-input__send-icon" src="../../../static/icons/send-arrow.svg" alt="send message" /></button>
