@import "../../styles/variables.pcss";

.button-link {
	text-decoration: none;

	&:visited {
		text-decoration: none;
	}

	&-blue {
		color: $blue;
	}

	&-red {
		color: $red;
	}

	&-grey {
		color: $grey;
	}
}
