@import url("../../styles/variables.pcss");

.toaster {
    position: absolute;
    top: 10px;
    right: 50px;
    padding: 20px;
    border-radius: 12px;
    color: $white;

    &-success {
        background: $green;
    }

    &-failure {
        background: $red;
    }
}
