<div class="avatar">
    <img class="avatar__image  avatar__image-{{ size }}" id="avatar" src="{{ image }}" alt="profile photo" />
    {{#if canUpdate}}
        <p class="avatar__image-text">Загрузить фото</p>
    {{/if}}
</div>
