<div class="avatar">
    <img class="avatar-image avatar-image-{{ size }}" id="avatar" src="{{ image }}" alt="photo" />
    {{#if canUpdate}}
        <p class="avatar-image-text avatar-image-text-{{ size }}">Загрузить фото</p>
    {{/if}}
</div>
