---
placeholders: {
    login: 'ivanivanov',
    password: '6-12 символов'
}
---

<html>
    <head>
        <link rel="stylesheet" href="../../../index.pcss">
    </head>
    <body>
        <div class="sign-up">
            <h1>Вход</h1>
            <div class="sign-up__inputs">
                {{> input/input label="Логин" type="text" placeholder=placeholders.login }}
                {{> input/input label="Пароль" type="password" placeholder=placeholders.password }}
            </div>
            <div class="sign-up__buttons">
                <a href="../chats/chats.hbs">{{> button/button label="Войти" color="blue" }}</a>
                <a class="sign-up__buttons_link" href="../signIn/signIn.hbs">Нет аккаунта?</a>
            </div>
        </div>
    </body>
</html>
