<form class="sign-up">
    <h1>Вход</h1>
    <div class="sign-up__inputs">
        {{{loginInput}}}
        {{{passwordInput}}}
    </div>
    <div class="sign-up__buttons">
        {{{enterButton}}}
        {{{registerButton}}}
    </div>
</form>
