<div class="delete-chat-modal">
    <div class="delete-chat-modal__wrapper">
        <div class="delete-chat-modal__header">
            <h2 class="delete-chat-modal__title">Удалить чат?</h2>
            <img id="close" class="delete-chat-modal__close" src="{{ closeIcon }}" alt="close" />
        </div>

        {{{confirmButton}}}
    </div>
</div>
