@import "../../styles/variables.pcss";

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    background: $backgroundGreyLight;
    border-right: 1px solid $borderGrey;
    cursor: pointer;

    &:hover {
        background: $backgroundGrey;
    }
}
